h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
}

body {
    background: url(/img/stucco.png);
}

.upper {
    width: 1400px;
    margin: 0 auto;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #FF66FF;
}
li {
    list-style-type: none;
}

.main {

    margin: 0 auto;
    margin-top: 30px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 30px;
}

.upper-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.upper-p1 {
    font-size: 22px;
    padding-bottom: 70px;
    font-weight: bold;
}

.upper-p2 {
    font-size: 22px;
    font-weight: bold;
}